---
interface Props {
	src: string;
    alt:string;
    title: string;
    description: string;
    modal:string;
    charmodal:string;
    pagina: string;
}
const { src,alt,title,description,modal,charmodal,pagina} = Astro.props;
---

<!-- Item 1-->
<div class="col-md-6 col-lg-4 mb-5 shadow-lg p-2 m-2 bg-white rounded">
    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target={charmodal}>
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
        </div>
        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-5 text-center">{title}</h2>
        <img class="img-fluid" src={src} alt={alt} />
    </div>
</div>
<!-- modal item-->
    <div class="portfolio-modal modal fade" id={modal} tabindex="-1" aria-labelledby={modal} aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-5">{title}</h2>
                                <!-- Image-->
                                <img class="img-fluid rounded mb-5 shadow-lg p-3 mb-5 bg-white rounded" src={src} alt={alt} />
                                <!-- Text-->
                                <p class="mb-4">{description}</p>
                                <a  href={pagina} target="_blank">
                                    <button class="btn btn-lg btn-block btn-primary" >
                                        Ir a la pagina
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>